# pro7357+age@wearehackerone.com
PUBLIC_KEY="age1ngczxp3mm0hgtleaaf85f0mhachdq3tqg70thzxcw8tkx3pgzv5qa76lna"

PRIVATE_KEY="$HOME/document/key.txt"

DECRYPT_PATH="/tmp/sacrypt"

# enc_path accept multiple directries.
ENCRYPT_PATH=("$BWD/.data/pub" "$BWD/.data/usr")

# Autosave frequency in second. 0 to disable autosave
# Default == 600 == 600 seconds == 10 minutes"
SAVE_TIMER=600
