# pro7357+age@wearehackerone.com
pub_key="age1ngczxp3mm0hgtleaaf85f0mhachdq3tqg70thzxcw8tkx3pgzv5qa76lna"

private_key="$HOME/document/key.txt"

dec_path="/tmp/sacrypt"

# enc_path accept multiple directries.
enc_path=("$BWD/.data/pub" "$BWD/.data/usr")

# Autosave frequency in second. 0 to disable autosave
# Default == 600 == 600 seconds == 10 minutes"
save_timer=0
